:root {
  --basic-black: #000;
  --light-yellow: rgb(245, 245, 196);
  --dark-yellow: rgb(194, 173, 77);
  --light-yellow-green: rgb(181, 202, 98);
  --dark-yellow-green: rgb(76, 87, 39);
  /* --light-yellow-green: #cce88f; 
  --dark-yellow-green: #C5D9A3; */
  --light-yellow-green-rgba: rgba(181, 202, 98, 0.3);
  --light-grey: rgb(193, 191, 191);

  --light-pink: rgb(231, 207, 222);
  --dark-pink: rgb(110, 8, 76);
  /* --dark-violet: rgb(68, 68, 114); */
  --dark-violet: #4b3f72;

  --base-font: "Raleway", sans-serif;
  --decorative-font: "Merienda", cursive;
}

body {
  font-family: var(--base-font);
  background-color: var(--light-yellow);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--decorative-font);
  color: var(--basic-black);
  letter-spacing: 0.5px;
}
h3,
h4,
h5 {
  color: var(--dark-yellow-green);
}

section,
footer#contatti {
  scroll-margin-top: 100px;
}
h2 {
  text-align: center;
  margin-bottom: 40px;
}
h3 {
  font-size: 22px;
  text-align: center;
  color: var(--dark-yellow-green);
  margin-bottom: 20px;
}

.home-list {
  margin: 20px auto;
}
.layout {
  padding: 30px;
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
}


main {
  flex: 1;
  padding: 20px;
  min-width: 0;
  align-items: center;
}
section {
  margin-bottom: 100px;
}
.container {
  width: 100%;
  padding-inline: 16px;
  margin-inline: auto;
}

@media (min-width: 769px){
.container {
  max-width: 1200px;
  padding: 0 24px;
}
}

p {
  text-indent: 30px;
  text-align: justify;
  margin-bottom: 30px;
}
span {
  color: var(--dark-yellow-green);
}
a {
  text-decoration: none;
}


