@media (min-width: 769px) {
    .open-btn {
  display: none;
}
}

.open-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.burger {
  width: 40px;
  height: 40px;
  padding: 10px 0;
  stroke: var(--light-yellow-green);
  fill: var(--light-pink);
  background-color:transparent;
}
