.open-btn, .close-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.burger-icon, .cross-icon {
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px 0;
  stroke: var(--light-yellow-green);
  fill: var(--light-pink);
  background-color:transparent;
}
.cross-icon {
  margin-left: 24px;
  margin-top: 24px;
}

@media (min-width: 769px) {
    .open-btn, .close-btn {
  display: none;
}
}