.open-btn, .close-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.burger-icon{
 width: 44px;
  height: 44px;
} 
.cross-icon {
 width: 38px;
  height: 38px;
}

.burger-icon, .cross-icon {
  display: block;
 
  padding: 10px 0;
  stroke: var(--light-yellow-green);
  fill: var(--light-pink);
  background-color:transparent;
}
.cross-icon {
  margin-left: 24px;
  margin-top: 24px;
}

.contact-open-btn {
color: var(--basic-black);
background-color: var(--light-yellow-green);
border: 1px solid var(--dark-yellow-green);
border-radius: 12px;
/* padding: 12px 12px; */
font-size: 16px;
}

@media (min-width: 769px) {
    .open-btn, .close-btn, .contact-open-btn {
  display: none;
}

}