/* ---------------ACCORDION------------ */

.accordion-button {
  background-color: var(--light-yellow-green);
  color: #333;
  border-radius: 12px !important;
  margin-bottom: 6px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease, background-color 0.2;
}
.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem var(--light-yellow-green-rgba);
  border-color: var(--light-yellow-green);
}
.accordion-button:not(.collapsed) {
  background-color: var(--dark-yellow-green);
  color: #000;
}

.accordion-body {
  background-color: var(--light-yellow);
  color: #333;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.accordion-item {
  border: none;
  background: transparent;
}

.accordion-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}