footer {
  background-color: var(--light-yellow-green);
  border-radius: 10px 10px 0 0;
}

.footer-wrapp {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0, 40px;
}
footer a {
  font-family: var(--base-font);
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
.footer-addr-wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}
footer p {
  font-family: var(--decorative-font);
  font-size: 12px;
  margin: 0;
  text-indent: 0;
}

.footer-addr-wrapp ul,
.footer-addr-wrapp p {
  margin: 0;
}

.adress-wrapp p {
  text-align: center;
  margin-bottom: 5px;
}

.map {
  width: 100%;
  max-width: 100%;
  height: 120px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 16px;
}

.contacts-list {
  list-style: none;
}

.contact-item {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 8px;
}

.icon {
  width: 24px;
  height: 24px;
  background-color: var(--light-yellow);
  border-radius: 8px;
  padding: 4px;
  color: var(--dark-yellow-green);
}

.footer-legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

@media (min-width: 769px) {
  .footer-wrapp {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
  }
  .footer-addr-wrapp {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px 30px;
  }

  .footer-addr-wrapp ul {
    margin: 0;
  }

  .map {
    width: 100%;
    max-width: 200px;
    height: 120px;
  }

  .map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 12px;
  }

  .contacts-list {
    list-style: none;
  }
  .contact-item {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
  }
  .icon {
    width: 30px;
    height: 30px;
    background-color: var(--light-yellow);
    border-radius: 8px;
    padding: 6px;
    color: var(--dark-yellow-green);
  }

  .footer-legal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px 30px;
  }
  .privacy {
    margin-top: 20px;
  }
}
