/* ----------------------------------FOOTER------------------ */
footer {
  padding: 20px 0;
  background-color: var(--light-yellow-green);
}
.footer-wrapp {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.footer-addr-wrapp {
  display: flex;
  gap: 30px;
  border: 1px solid var(--light-yellow);
  border-radius: 12px;
  padding: 20px 30px;
}
.footer-addr-wrapp ul {
  margin: 0;
}

.adress-wrapp p {
  margin-bottom: 20px;
}
.map {
  width: 100%;
  max-width: 200px;
  height: 120px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 12px;
}
footer p {
  font-family: var(--decorative-font);
  margin: 0;
  text-indent: 0;
}
footer a {
  font-family: var(--base-font);
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
.contacts-list {
  list-style: none;
}
.contact-item {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 30px;
}
.icon {
  width: 30px;
  height: 30px;
  background-color: var(--light-yellow);
  border-radius: 8px;
  padding: 6px;

  color: var(--dark-yellow-green);
}

.footer-legal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: 1px solid var(--light-yellow);
  border-radius: 12px;
  padding: 20px 30px;
}
.footer-legal span {
  font-family: var(--base-font);
}
