.gallery-wrapp {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.item {
  width: 360px;
  height: 192px;
  border: 1px solid var(--dark-violet);
  border-radius: 12px;
  overflow: hidden;
}
@media (min-width: 769px) {
  .item {
    width: 300px;
    height: 160px;
  }
}
.item img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-yellow-green);
  border-radius: 11px;
  object-fit: cover;
  display: block;
  transition: scale 0.4s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.55);
}
.item:hover img {
  scale: 1.2;
}
