.hero {
  position: relative;
  min-height: 80vh;
  padding: 4px 0;
  display: flex;
  flex-direction: column;
}

.hero .container {
  position: relative;
  z-index: 5;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("../img/strada-arcobaleno.jpg");
  background-size: cover;
  background-position: center;

  /* transform: translateY(var(--parallax, 0)); */

  z-index: -1;
}

h1 {
  font-family: var(--decorative-font);
  font-weight: 700;
  text-align: center;
  letter-spacing: 5px;
 font-size: 32px;
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (min-width: 769px) {
  h1 {
font-size: 60px;
  margin-top: 40px;
  margin-bottom: 140px;
   margin-top: 20px;
  }
 
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0;
  margin-left: 30px;
}

.logo {
  font-family: var(--decorative-font);
  text-align: start;
  margin-bottom: 0;
  color: rgba(17, 9, 44, 0.6);
}

.logo-text {
  margin: 0;
  font-size: small;
  color: var(--dark-yellow);
}
.mob-header-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
}

home-text {
  text-align: center;
}