.hero {
  position: relative;
  min-height: 80vh;
  overflow: hidden;
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  }
 
.hero .container {
  position: relative;
  z-index: 5;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../img/strada-arcobaleno.jpg");
  background-size: cover;
  background-position: center;
  /* transform: translateY(var(--parallax, 0)); */
  z-index: -2;
}
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
    background: linear-gradient(
    rgba(255, 255, 255, 0.01),
    rgba(255, 255, 255, 0.01)
  );
  z-index: -1;
}

.mob-header-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
h1 {
  font-family: var(--decorative-font);
  font-weight: 700;
  text-align: center;
  letter-spacing: 5px;
 font-size: 32px;
  padding: 120px 0;
  color: var(--light-pink);
 text-shadow: 0 3px 8px rgba(23, 22, 22, 0.952);
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0;
  margin-left: 30px;
  text-shadow: 0 3px 8px rgba(255, 255, 255, 0.952);
}

.logo {
  font-family: var(--decorative-font);
  text-align: start;
  margin-bottom: 0;
  color: rgba(17, 9, 44, 0.6);
}

.logo-text {
  margin: 0;
  font-size: small;
  color: var(--dark-yellow);
}
.mob-header-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
}

home-text {
  text-align: center;
}

@media (min-width: 769px) {
  h1 {
font-size: 60px;
  padding: 30px 0;
  }
 .logo-wrapper {
  padding: 20px 0 30px;
}

}
