
nav {
    display: none;
  }


@media (min-width: 769px) {
nav {
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-inline: auto;

  width: 95%;
  max-width: 1200px;
  padding: 10px 60px;
  /* background: linear-gradient(rgba(72, 58, 113, 0.6), rgba(9, 37, 56, 0.6)); */
  backdrop-filter: blur(12px);
  border-radius: 28px;
  display: flex;
  justify-content: space-between;
  transition: background 0.4s ease, box-shadow 0.4s ease;
}

.nav-placeholder {
  height: 80px;
}
.logo-wrapper {
  padding: 40px 0 30px;
}
}

nav.is-fixed {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  z-index: 9999;
}

nav.scrolled {
  background: rgba(195, 165, 165, 0.35);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12);
}

nav > a {
  text-decoration: none;
  color: var(--light-pink);
  font-size: 26px;
}
nav.scrolled > a {
  color: var(--light-yellow-green);
}
