.contact-window {
  display: none;
}
@media (min-width: 769px){
.contact-window {
  display: flex;
  gap: 60px;
  flex-direction: column;
  align-items: center;
  width: 260px;
  border: 1px solid var(--light-pink);
  border-radius: 12px;
  padding: 20px;
  margin-top: 80px;
}

  .sidebar {
  /* position: sticky; */
  /* top: 0px; */
  background: transparent;
  /* background-color: var(--light-pink); */
  display: flex;
  justify-content: center;
  align-self: flex-start;

  /* border: 1px solid var(--light-pink); */
  border-radius: 12px;
  transition: box-shadow 0.35s ease, transform 0.35s ease,
    backdrop-filter 0.6s ease 0.15s;
}

.sidebar.is-sticky {
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.15);
  /* background: rgba(179, 121, 121, 0.85); */
  backdrop-filter: blur(10px);
  /* transform: translateY(-4px); */
}



fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark-yellow);
  border-radius: 12px;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}
form {
  display: flex;
  gap: 40px;
  flex-direction: column;
  padding: 10px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
legend {
  text-align: center;
}

textarea {
  resize: none;
  overflow-y: scroll;
}

*::placeholder {
  color: var(--light-grey);
}
input,
textarea,
form button {
  border: 1px solid var(--light-yellow-green);
  border-radius: 12px;
  background-color: var(--light-yellow);
  color: var(--basic-black);
  padding: 10px;
}
form button {
  background-color: var(--light-yellow-green);
   width: 160px;
  padding: 4px;
}

input:focus,
textarea:focus,
form button:active {
  border-color: var(--dark-yellow);
  outline: none;
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--dark-yellow);
  border-radius: 4px;
}

}

