@import url(./base.css);
@import url(./hero.css);
@import url(./navigation.css);
@import url(./modal-navigation.css);
@import url(./components.css);
@import url(./sidebar.css);
@import url(./modal-sidebar.css);
@import url(./home.css);
@import url(./top-tours.css);
@import url(./destinations.css);
@import url(./gallery.css);
@import url(./footer.css);