:root {
  --light-yellow: rgb(235, 235, 162);
  --dark-yellow: rgb(253, 216, 53);
  --light-yellow-green: rgb(181, 202, 98);
  --light-yellow-green-rgba: rgba(181, 202, 98, 0.3);
  --dark-yellow-green: rgb(107, 121, 61);

  --light-pink: rgb(231, 207, 222);
  --dark-pink: rgb(110, 8, 76);
  --dark-violet: rgb(68, 68, 114);
}

body {
  font-family: Merienda;
  background-color: var(--light-yellow);
}

.hero {
  position: relative;
  min-height: 80vh;
  padding: 80px 30px;
  /* margin-bottom: 20px; */
}
.hero .container {
  position: relative;
  z-index: 2;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("./img/strada-arcobaleno.jpg");
  background-size: cover;
  background-position: center;

  transform: translateY(0);
  will-change: transform;
  z-index: -1;
}

h1 {
  font-family: Merienda;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 140px;
  letter-spacing: 5px;
}
nav {
  padding: 20px 120px;
  position: sticky;
  top: 20px;
  z-index: 1000;
  max-width: 80%;
  /* margin: 0 auto; */
  margin-top: -300px;
  margin-bottom: 300px;
  margin-inline: auto;

  background: linear-gradient(rgba(62, 46, 111, 0.6), rgba(2, 32, 52, 0.6));
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari */
  border-radius: 28px;

  display: flex;
  justify-content: space-between;
  text-align: center;
  transition: all 0.4s ease;
}

nav.scrolled {
  background: rgba(195, 165, 165, 0.312);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.094);
}

nav > a {
  text-decoration: none;
  color: var(--light-yello-green);
  font-size: 26px;
}
nav.scrolled > a {
  color: var(--light-pink);
}

h3 {
  font-size: 22px;
  margin-bottom: 0;
  color: rgba(17, 9, 44, 0.6);
}
.logo-text {
  margin: 0;
  font-size: small;
  color: var(--dark-yellow);
}

.layout {
  /* height: 100vh; */
  padding: 30px;
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
}

.sidebar {
  background-color: var(--light-pink);
  display: flex;
  justify-content: center;
  border: 1px solid var(--light-pink);
  border-radius: 12px;
}
main {
  flex: 1;
  padding: 20px;
  min-width: 0;
  align-items: center;
}
section {
  margin-bottom: 100px;
}
.container {
  max-width: 1200px;
  padding: 0 24px;
}

.contact-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  border: 1px solid var(--dark-yellow);
  border-radius: 12px;
  padding: 20px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark-yellow);
  border-radius: 12px;
  padding: 12px;
  gap: 12px;
  justify-content: center;
}
form {
  display: flex;
  gap: 40px;
  flex-direction: column;
  padding: 10px;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}
legend {
  text-align: center;
}
/* .form-field {
 align-items: center;
} */
/* input[type="tel"]:invalid {
  border-color: rgb(147, 23, 46);
  box-shadow: 0 0 5px rgba(147, 23, 46, 0.5);
}

input[type="tel"]:valid {
  border-color: rgb(40, 167, 69);
} */

textarea {
  /* margin-bottom: 10px; */
  resize: none;
  overflow-y: scroll;
}

input,
textarea,
form button {
  border: 1px solid var(--light-yellow-green);
  background-color: var(--light-yellow);
  border-radius: 12px;
  padding: 10px;
}
input,
textarea,
form button:active {
  border-color: var(--dark-yellow-green);
}

/* input[type="tel"]:invalid {
  border-color: rgb(147, 23, 46);
  box-shadow: 0 0 5px rgba(147, 23, 46, 0.5);
}

input[type="tel"]:valid {
  border-color: rgb(40, 167, 69);
} */

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--dark-yellow);
  border-radius: 4px;
}

form button {
  width: 160px;
  padding: 4px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

home-text {
  text-align: center;
}
/* ---------------ACCORDION------------ */

.accordion-button {
  background-color: var(--light-yellow-green);
  color: #333;
  border-radius: 12px !important;
  margin-bottom: 6px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease, background-color 0.2;
}
.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem var(--light-yellow-green-rgba);
  border-color: var(--light-yellow-green);
}
.accordion-button:not(.collapsed) {
  background-color: var(--dark-yellow-green);
  color: #000;
}

.accordion-body {
  background-color: var(--light-yellow);
  color: #333;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.accordion-item {
  border: none;
  background: transparent;
}

.accordion-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
/* --------------------------------------- */

.gallery-wrapp {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.item {
  width: 300px;
  height: 160px;
  border: 1px solid var(--dark-violet);
  border-radius: 12px;
}

.item1 {
  background-image: url("./img/galleria1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.item2 {
  background-image: url("./img/galleria2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.item3 {
  background-image: url("./img/galleria3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.item4 {
  background-image: url("./img/galleria4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.item5 {
  background-image: url("./img/galleria5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.item6 {
  background-image: url("./img/galleria6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.item7 {
  background-image: url("./img/galleria7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.item8 {
  background-image: url("./img/galleria8.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.item9 {
  background-image: url("./img/galleria9.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
